
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/The-GEP.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/vcs.xml
.idea/vcs.xml
__pycache__/onsset.cpython-37.pyc
.ipynb_checkpoints/Malawi-checkpoint.csv
.ipynb_checkpoints/onsset-checkpoint.ipynb
.ipynb_checkpoints/onsset-checkpoint.py
.ipynb_checkpoints/runner-checkpoint.py
